p:first-of-type{
    color: #7E8184;
    font-style: italic;
}

.synopsis em{
    font-style: normal;
}

.button:link, .button:visited{
    display: block;
    text-decoration: none;
    
    color: #FFF;
    background-color: #5995DA;    /* Blue */
    font-weight: bold;
    padding: 20px;
    text-align: center;
    border: 2px solid #5D6063;    /* Dark gray */
    border-radius: 5px;

    width: 200px;
    margin: 20px auto;
    
    box-sizing: border-box;
}

.page{
    width: 600px;
    margin-top: 5%;
    padding: 16px 16px;

}
/*
a:link{
    color: blue;
    text-decoration: none;
}

a:visited{
    color: purple;
}

a:hover{
    color: aqua;
    text-decoration: underline;
}

a:active{
    color: red;
}

a:visited:hover{
    color: orange;
}

a:visited:active{
    color: red;
}*/

.button:hover,
.button:visited:hover{
    color: purple;
    background-color: #76AEED;
}

.button:active,
.button:visited:active{
    color: red;
    background-color: #5995DA;
}

.call-to-action:link, .call-to-action:visited{
    font-style: italic;
    background-color: #EEB75A;
}

.call-to-action:hover, .call-to-action:visited:hover{
    background-color: #F5CF8E;
}

.call-to-action:active, .call-to-action:visited:active{
    background-color: #EEB75A;
}

#button-2{
    color: #5D6063;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: green;
    border: 1px solid #555;
    position: fixed;
    top: 0;
    width: 100%;


}

li a{
    display: block;
    color: #1F2022;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: #154734;

}

.active{
    background-color: #004EFF;
    color: white;
}

li{
    float: left;
    border-right: 1px solid #bbb;
}

li:last-child{
    border-right: none;
}

a{
    display: block;
    padding: 8px;
    
}
